# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Generic building directories
build/

bin/
obj/

#cebula bloks
*.cbp
*.depend
*.layout

# Qt Files
Makefile
CMakeLists.txt.user
moc_*.cpp
qrc_*.cpp
ui_*.h
*-build-*
*.pro.user
*.pro.user.*
